<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="toggleMenu()">Toggle Menu</ion-button> -->
  <div class="container text-center menuPage">
    <img src="assets/fruity.jpg" alt="">
    <h4>Lets Stalk your Lifestyle.</h4>
  </div>
  <div class="container row mt-4 d-flex justify-content-between">
    <div class="col-6">
      <ion-icon class="icons rounded" name="stopwatch-outline"> </ion-icon>
       <p>current time and location</p>
    </div>
    <div class="col-6">
      <ion-icon class="icons rounded" name="footsteps-outline"></ion-icon>
       <p>current steps taken</p>
    </div>
    <!-- <div>
      <ion-icon class="icons rounded" name="stopwatch-outline"> </ion-icon>
       <p>check your current time and location</p>
    </div>
    <div>
      <ion-icon class="icons rounded" name="stopwatch-outline"> </ion-icon>
       <p>check your current time and location</p>
    </div> -->
   </div>
</ion-content>
