<ion-header>
  <ion-toolbar>
    <ion-title>Stalker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card-header>
      <div class="hero text-center mt-5">
        <h3>Get <br> Started with <br> 
          <span class="hero-span">Stalker</span>
        </h3>
      </div>
  </ion-card-header>

  <div class="hero-btn container d-flex justify-content-between">
    <ion-button color="favorite" (click)="logMeIn()">Login</ion-button>
    <ion-button >Sign-Up</ion-button>  
  </div>
 
</ion-content>
